#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
.container{
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;

}
.container>*{
  border:1px solid grey;
  padding:25px;


}
.heading{
  text-align: left;
}
.cvContainer{
  width:500px;
}

.open,form{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap:10px;
  margin: 5px 0 0 0;

}

form>div{
  display: flex;
  gap:15px;
}
.closed{
  display: none;
}
ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}

